<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>点击一个模块消失一个</title>
    <style>
        .shape {
            height: 100px;
            width: 100px;
        }
        #main{
            display:flex;
            flex-wrap: wrap;
            width: 200px;
        }
        #bg1 {
            background-color: red;
        }

        #bg2 {
            background-color: yellow;
        }

        #bg3 {
            background-color: blue;
        }

        #bg4 {
            background-color: green;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="bg1" class="shape" onclick="clk(id)"></div>
        <div id="bg2" class="shape" onclick="clk(id)"></div>
        <div id="bg3" class="shape" onclick="clk(id)"></div>
        <div id="bg4" class="shape" onclick="clk(id)"></div>
    </div>
</body>
<script>
    function clk(id) {
        document.getElementById(id).style.visibility = "hidden";
    }
</script>

</html>